# Azure OpenAI
#AZURE_OPENAI_API_KEY=<your_api_key>
#AZURE_OPENAI_ENDPOINT=<your_endpoint>
#AZURE_OPENAI_API_VERSION=2025-01-01-preview
#AZURE_OPENAI_DEPLOYMENT=gpt-5-chat

# Option 2: Azure CLI
AZURE_OPENAI_ENDPOINT=<your_endpoint>
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-5.2-chat